[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
networkx = "*"
matplotlib = "*"
numpy = "*"
requests = "*"
tqdm = "*"
dash = "*"
colour = "*"
decorator = "==4.3.0"
dash-table = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.8"
